body{
	background-color:#000;
	font-family:"Nunito",sans-serif;
	overflow-x: hidden;
	
}
*::selection{
	color:#bebebe;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height:10px
  }

/* Track */
::-webkit-scrollbar-track {
    background: #1d1d1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6d6d6d;
    border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(169, 169, 169);
}


.paragraph h2{
	color:#ea1c2c;
	font-weight:100;
	font-size:2.5rem;
}
.content{
	font-weight: 100;
}
.paragraph p{
	color:#ffffff;
	font-weight:100;
	font-size:1.125rem;
	line-height: 2;
}
#mainNavbar .navbar-brand{
	color: #ea1c2c;
	font-size:2rem;
	font-weight:100;
	margin-right: 18px;
}



#mainNavbar .navbar-brand:hover{
	color: #d1d1d1;
	font-size:2rem;
	font-weight:100;
	margin-right: 18px;
	cursor:none;
	text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red;
}

.intro-text{
	color:#ea1c2c;
	border: #323232;
	font-family:'Overpass',monospace;
	padding: 20px;
	line-height: 40px;
	letter-spacing: 2px;
	font-size:1.1em;
}

@media(max-width:3000px)
{
#mainNavbar .navbar-brand{
	margin-right: 800px;
}
}

@media(max-width:1800px)
{
#mainNavbar .navbar-brand{
	margin-right: 700px;
}
}

@media(max-width:1700px)
{
#mainNavbar .navbar-brand{
	margin-right: 600px;
}
}

@media(max-width:1600px)
{
#mainNavbar .navbar-brand{
	margin-right: 500px;
}
}


@media(max-width:1400px)
{
#mainNavbar .navbar-brand{
	margin-right: 400px;
}
}

@media(max-width:1350px)
{
#mainNavbar .navbar-brand{
	margin-right: 300px;
}
}

@media(max-width:1300px)
{
#mainNavbar .navbar-brand{
	margin-right: 200px;
}
}

@media(max-width:1150px)
{
#mainNavbar .navbar-brand{
	margin-right: 100px;
}

}

@media(max-width:1000px)
{
#mainNavbar .navbar-brand{
	margin-right: 80px;
}

#navLinks .navbar-nav .nav-item a{
	margin:0 4em;
}

}

@media(max-width:900px)
{
#mainNavbar .navbar-brand{
	margin-right: 150px;
}

#navLinks .navbar-nav .nav-item a{
	margin:0 2em;
}

}

#mainNavbar .nav-link{
	color: white;
	font-size:1em;
	font-weight:100;
	margin:0 5em;
	transition:all 0.1s ease-in;
}
#mainNavbar .nav-link:hover{
	color: rgb(184, 184, 184);
	font-size:1.1em;
	font-weight:900;
	text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em red;
}

#mainNavbar .nav-link:active{
	/* color: transparent; */
	background-color: transparent;
	font-size:1em;
	font-weight:300;
}

.slash{
	color:#ea1c2c;
}

#heading-candy .display-2{
	font-weight: 100;
	font-size:4rem;
}





.first_img{
	margin-top: 8em;
}

.margin_down{
	margin-bottom: 3em;
}

.hover1:hover{
	.slash{
		color:white;
	}
	.slogan{
		color:#ea1c2c;
	}

}
.navbar.scrolled{
	background: #000;
	transition: background 500ms;
}

.selected::selection{
color:#bebebe;
background-color: rgb(141, 17, 17);
}

.foot{
	display:flex;
	justify-content: center;
	align-content: center;
	background-color:black;
	color:#ea1c2c;
	padding-top: 10px;
	border-top:2px solid #2a2a2a;
}


/*img[alt="www.000webhost.com"]{
	display:none;
}*/

@media(max-width:1353px){
	#heading-candy .display-2{
		font-weight: 100;
		font-size:3rem;
	}	
	.paragraph h2{
		font-size:2rem;
	}
}
