html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	 
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

html{
	box-sizing:border-box;
	font-family:'Open Sans',sans-serif;
}
body{
	background-color: #000;
	min-height:100vh;
}

.close_btn{
	display:flex;
	justify-content: end;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height:10px
  }

/* Track */
::-webkit-scrollbar-track {
    background: #1d1d1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6d6d6d;
    border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(169, 169, 169);
}


body .main{
	display:flex;
	justify-content: center;
	align-items: center;
}
.panel{
	 justify-content: center;
	 align-items: center;
	 background-color: #191a19;
	 border-radius:10px;
	 display:flex; 
	 flex-direction: column;
	 padding:15px 25px;
	 margin: 2em;
	 width:100%;
	 max-width: 960px;
	 text-align: center;
	 text-transform: uppercase;
 }
 .pricing-plan{
	border-bottom: 1px solid #e1f1ff;
 }

 .pricing-plan:last-child{
    border-bottom:none;
 }
 
 .product-img{
	margin-top: 40px;
	margin-bottom: 25px;
	max-width: 100%  ;
	border-radius:10%;
 }
 .pricing-header{
	color:#fff;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1.5em;
 }

 .pricing-features{
	margin:50px 0 25px; 
	color:#888;
 }
 .pricing-features-item{
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 1.5;
	padding:15px 0;
	border-top: 1px solid #e1f1ff;
 }

 .pricing-features-item:last-child{
	border-bottom:1px solid #e1f1ff;
 }

 .pricing-price{
	color:#ea1c2c;;
	display: block;
	font-size: 32px;
	font-weight:700;
 }

 .pricing-button{
	background-color: rgb(155, 155, 155);
	border-radius: 10px; 
	color: #000;
	font-weight: 600;
	display: inline-block;
	padding: 10px 25px;
	text-decoration: none;
	margin: 25px 0;
	transition: background-color 0.3s ease-in,transform 0.4s ease-in;
 }

 .pricing-button:hover, .pricing-button:focus{
	background-color: #d80012;
	color:white;
	text-decoration: none;
	transform:scale(1.05,1.05);
 }

 .pricing-button:active{
	transition:all 100ms;
	background-color: #000;
	color:white;
	transform:scale(1,1);
 }
 
 .selected::selection{
	color:#bebebe;
	background-color: rgb(141, 17, 17);
	}

 @media(min-width: 900px){
	.panel{
		flex-direction: row;

	}
	.pricing-plan{
		border-bottom:none;
		border-right: 1px solid #e1f1ff;
		padding:25px 50px;
	}
	.pricing-plan:last-child{
		border-right: none;
	}
	 
 }
 